/* Box de toda a pagina */

#fullPage {
  height: 170vh;
}

/* Menu Bar */

#navBar {
  border-bottom: 2.3px solid #dbdbdb;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.2%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
}

#menuContent {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding-bottom: 10px;
}

#logoBox {
  margin-left: 11%;
}

#logoBox a img {
  height: 2.6vw;
}

#userBox {
  margin-right: 7%;
  height: 20%;
}

#userBox div {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#userBox a {
  color: black;
  font-family: Arial;
  font-size: 1.2vw;
}

#userBox img {
  border-radius: 50%;
  height: 2.2vw;
  margin-left: 10%;
}

/* Abaixo do Menu Bar */

#belowMenu {
  height: 100vh;
}

#postBox {
  height: 80vh;
  width: 150vh;
  display: flex;
  margin: 2% auto;
  border-radius: 7px;
}

#postImage {
  height: 100%;
  width: 60%;
  border: 1.7px solid #dbdbdb;
  border-radius: 6px 0 0px 6px;
}

#postImage img {
  width: 100%;
  height: 100%;
  border-radius: 6px 0px 0px 6px;
}

#contentPostBox {
  height: 100%;
  width: 40%;
  float: left;
  border-right: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
  border-top: 2px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-radius: 0px 6px 6px 0;
}

#authorBox {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 15%;
  align-items: center;
  display: flex;
}

#authorBox img {
  border-radius: 50%;
  height: 30px;
  float: left;
  margin-left: 4.5%;
}

#authorBox div {
  float: left;
  text-align: left;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

#authorBox div span {
  font-family: Arial;
}

#postAuthor {
  font-size: 1vw;
  font-weight: bold;
  padding-bottom: 2.6%;
  color: black;
}

#locationPostAuthor {
  font-size: 0.9vw;
  color: black;
}

#commentsBox {
  padding-top: 2%;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 70%;
  text-align: center;
  overflow-y: scroll;
}

#commentsBox ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#individualCommentBox {
  height: auto;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

#commentBoxImage {
  float: left;
  margin-top: 4%;
  width: 5%;
  padding-left: 15px;
}

#commentBoxImage img {
  border-radius: 50%;
  height: 2.4vw;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
}

#commentBoxMessage {
  text-align: left;
  margin-top: 4%;
  width: 70%;
  padding-left: 4%;
  word-wrap: break-word;
  display: inline-block;
}

#commentBoxMessage #commentUser {
  font-size: 0.99vw;
  font-family: Arial;
  font-weight: bold;
  color: black;
}

#commentBoxMessage #commentMessage {
  font-size: 0.98vw;
  font-family: Arial;
  color: black;
}

#commentBoxMessage div {
  margin-top: 7%;
}

#timeComment {
  font-size: 1vw;
  color: #8e8e8e;
}

#commentLikeCount {
  font-size: 1vw;
  color: #8e8e8e;
  margin-left: 10px;
  font-weight: bold;
}

#likeBox {
  width: 5%;
  float: right;
  margin-top: 7%;
  padding-right: 12px;
}

.like {
  height: 2.3vh;
}

.like:hover {
  cursor: pointer;
}

#likeIcon {
  color: #ed4956;
}

#moreDetailPostBox {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
}

#moreDetailPostBox div {
  text-align: left;
  padding-left: 5%;
  flex-direction: column;
  display: flex;
}

#moreDetailPostBox #commentCount {
  font-size: 1vw;
  font-weight: bold;
  padding-bottom: 7%;
  color: black;
  font-family: Arial;
}

#moreDetailPostBox #postDate {
  font-size: 0.84vw;
  color: #8e8e8e;
  font-family: Arial;
}

#lineBox {
  justify-content: center;
  display: flex;
  padding-top: 25px;
}

#lineBox div {
  width: 150vh;
  border: 1px solid #efefef;
}

#relatedPostsBox {
  width: 150vh;
  height: 50vh;
  margin: auto;
  text-align: left;
  padding-top: 20px;
}

#relatedPostsBox span {
  color: #8e8e8e;
  font-weight: bold;
  font-size: 14.5px;
  font-family: Arial;
}

#relatedPostsBox #imagesBox {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

#relatedPostImage {
  height: 280px;
  width: 280px;
  margin-bottom: 45px;
}
