body {
  margin: 0;
  overflow-x: hidden;
}

/* Menu Bar */

#navBar {
  position: absolute;
  width: 100%;
  height: 54px;
  border-bottom: 1.8px solid #dbdbdb;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

#menuContent {
  justify-content: space-between;
  display: flex;
  margin-top: 0;
}

#logoBox {
  margin-top: 15px;
  margin-left: 108px;
}

#logoBox a img {
  width: 82px;
  height: 29px;
  align-self: center;
  display: flex;
}

#userBox {
  margin-top: 9px;
  margin-right: 130px;
}

#userBox div {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#userBox a {
  color: black;
  font-family: Arial;
  font-size: 14px;
}

#userBox img {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-left: 12px;
}

/* Abaixo do Menu Bar */

#belowMenu {
  background-color: rgb(250, 250, 250);
  padding-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#postBox {
  width: 933px;
  height: 598px;
  display: flex;
  margin: 85px 0 0 0;
  border-radius: 7px;
  background-color: white;
}

#postImage {
  width: 598px;
  height: 598px;
  border: 1px solid #dbdbdb;
  border-radius: 6px 0 0px 6px;
}

#postImage img {
  width: 100%;
  height: 100%;
  border-radius: 6px 0px 0px 6px;
}

#contentPostBox {
  height: 100%;
  width: 334px;
  float: left;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-radius: 0px 6px 6px 0;
}

#authorBox {
  border-bottom: 1px solid #dbdbdb;
  width: 334px;
  height: 73px;
  align-items: center;
  display: flex;
}

#authorBox img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 16px;
}

#authorBox div {
  float: left;
  text-align: left;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

#authorBox div span {
  font-family: Arial;
}

#postAuthor {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
}

#locationPostAuthor {
  font-size: 12px;
  color: black;
}

#commentsBox {
  padding-top: 12px;
  border-bottom: 1px solid #dbdbdb;
  width: 334px;
  height: 449px;
  text-align: center;
  overflow-y: scroll;
}

#commentsBox::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}

#individualCommentBox {
  height: auto;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

#commentBoxImage {
  float: left;
  margin-top: 12px;
  width: 5%;
  padding-left: 16px;
}

#commentBoxImage img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: left;
}

#commentBoxMessage {
  text-align: left;
  margin-top: 12px;
  width: 65%;
  padding-left: 9px;
  word-wrap: break-word;
  display: inline-block;
}

#commentBoxMessage #commentUser {
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: black;
}

#commentBoxMessage #commentMessage {
  font-size: 14px;
  font-family: Arial;
  color: black;
}

#commentBoxMessage div {
  margin-top: 16px;
}

#timeComment {
  font-size: 14px;
  color: #8e8e8e;
  font-family: Arial;
}

#commentLikeCount {
  font-size: 14px;
  color: #8e8e8e;
  margin-left: 10px;
  font-weight: bold;
  font-family: Arial;
}

#likeBox {
  width: 5%;
  float: right;
  margin-top: 7%;
  padding-right: 14px;
}

.like {
  height: 14px;
  width: 14px;
}

.like:hover {
  cursor: pointer;
}

#likeIcon {
  color: #ed4956;
}

#moreDetailPostBox {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

#moreDetailPostBox div {
  text-align: left;
  padding-left: 16px;
  flex-direction: column;
  display: flex;
}

#moreDetailPostBox #commentCount {
  font-size: 14px;
  font-weight: bold;
  color: black;
  font-family: Arial;
}

#moreDetailPostBox #postDate {
  margin-top: 5px;
  font-size: 10px;
  color: #8e8e8e;
  font-family: Arial;
}

#line {
  margin-top: 50px;
  width: 933px;
  height: 1px;
  background-color: #efefef;
}

#relatedPostsBox {
  width: 933px;
  height: 644px;
  margin: auto;
  text-align: left;
  padding-top: 20px;
}

#relatedPostsBox span {
  color: #8e8e8e;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
}

#relatedPostsBox #imagesBox {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

#relatedPostImage {
  width: 280px;
  height: 280px;
  margin-bottom: 45px;
}
