body {
  margin: 0;
  overflow-x: hidden;
}

/* Menu Bar */

#navBar {
  border-bottom: 1.8px solid #dbdbdb;
  width: 100%;
  background-color: white;
  margin: 0;
  height: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

#menuContent {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 9px;
}

#logoBox {
  margin-left: 11%;
}

#logoBox a img {
  height: 2.23vw;
  width: 7vw;
  align-self: center;
  display: flex;
}

#userBox {
  margin-right: 12%;
}

#userBox div {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#userBox a {
  color: black;
  font-family: Arial;
  font-size: 1.06vw;
}

#userBox img {
  border-radius: 50%;
  height: 1.9vw;
  margin-left: 10%;
}

/* Abaixo do Menu Bar */

#belowMenu {
  background-color: rgb(250, 250, 250);
  height: 235vh;
  padding-top: 0;
  border: 1px solid transparent;
}

#postBox {
  height: 100vh;
  width: 150vh;
  display: flex;
  margin: 2% auto;
  border-radius: 7px;
  background-color: white;
}

#postImage {
  height: 100%;
  width: 70%;
  border: 1px solid #dbdbdb;
  border-radius: 6px 0 0px 6px;
}

#postImage img {
  width: 100%;
  height: 100%;
  border-radius: 6px 0px 0px 6px;
}

#contentPostBox {
  height: 100%;
  width: 37%;
  float: left;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-radius: 0px 6px 6px 0;
}

#authorBox {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 12%;
  align-items: center;
  display: flex;
}

#authorBox img {
  border-radius: 50%;
  height: 2.4vw;
  float: left;
  margin-left: 4.5%;
}

#authorBox div {
  float: left;
  text-align: left;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

#authorBox div span {
  font-family: Arial;
}

#postAuthor {
  font-size: 1vw;
  font-weight: bold;
  padding-bottom: 2.6%;
  color: black;
}

#locationPostAuthor {
  font-size: 0.95vw;
  color: black;
}

#commentsBox {
  padding-top: 2%;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 75%;
  text-align: center;
  overflow-y: scroll;
}

#commentsBox::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}

#individualCommentBox {
  height: auto;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

#commentBoxImage {
  float: left;
  margin-top: 4%;
  width: 5%;
  padding-left: 13px;
}

#commentBoxImage img {
  border-radius: 50%;
  height: 2.3vw;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
}

#commentBoxMessage {
  text-align: left;
  margin-top: 4%;
  width: 65%;
  padding-left: 4%;
  word-wrap: break-word;
  display: inline-block;
}

#commentBoxMessage #commentUser {
  font-size: 0.99vw;
  font-family: Arial;
  font-weight: bold;
  color: black;
}

#commentBoxMessage #commentMessage {
  font-size: 0.99vw;
  font-family: Arial;
  color: black;
}

#commentBoxMessage div {
  margin-top: 7%;
}

#timeComment {
  font-size: 1vw;
  color: #8e8e8e;
  font-family: Arial;
}

#commentLikeCount {
  font-size: 1vw;
  color: #8e8e8e;
  margin-left: 10px;
  font-weight: bold;
  font-family: Arial;
}

#likeBox {
  width: 5%;
  float: right;
  margin-top: 7%;
  padding-right: 14px;
}

.like {
  height: 2.3vh;
}

.like:hover {
  cursor: pointer;
}

#likeIcon {
  color: #ed4956;
}

#moreDetailPostBox {
  width: 100%;
  height: 11%;
  display: flex;
  align-items: center;
}

#moreDetailPostBox div {
  text-align: left;
  padding-left: 5%;
  flex-direction: column;
  display: flex;
}

#moreDetailPostBox #commentCount {
  font-size: 1vw;
  font-weight: bold;
  padding-bottom: 7%;
  color: black;
  font-family: Arial;
}

#moreDetailPostBox #postDate {
  font-size: 0.84vw;
  color: #8e8e8e;
  font-family: Arial;
}

#lineBox {
  justify-content: center;
  display: flex;
  padding-top: 25px;
}

#lineBox div {
  width: 150vh;
  height: 1px;
  background-color: #efefef;
}

#relatedPostsBox {
  width: 150vh;
  height: 50vh;
  margin: auto;
  text-align: left;
  padding-top: 20px;
}

#relatedPostsBox span {
  color: #8e8e8e;
  font-weight: bold;
  font-size: 14.5px;
  font-family: Arial;
}

#relatedPostsBox #imagesBox {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

#relatedPostImage {
  height: 10%;
  width: 30%;
  margin-bottom: 45px;
}
